<div *ngIf="stockList$ | async as stockList" class="container-fluid">
    <div class="row">
      <h2 *ngIf="stockList.length === 0" class="text-center text-secondary">YOUR WATCHLIST IS <span class="text-danger">EMPTY</span></h2>
      <h2 *ngIf="stockList.length > 0" class="text-center text-secondary mb-4">YOUR WATCHLIST HAS <span class="text-primary">{{stockList.length}}</span> ITEM(S)</h2>
        <div *ngFor="let stock of stockList" class="col-12 col-md-4">
            <div *ngIf="stock.isLoaded !== true" class="card mb-5">
                <div class="card-body">
                    <div class="row mt-3">
                        <h5>Just a sec...</h5>
                    </div>
                </div>
            </div>
            <div *ngIf="stock.isLoaded" class="card shadow-lg p-4 mb-5 bg-body rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-11">
                            <h5 class="text-center text-primary">{{stock.data?.name}} ({{stock.symbol}})</h5>
                        </div>
                        <a [id]="'remove' + stock.symbol" class="col-1 align-self-start" (click)="removeStock(stock)">
                          <button type="button" class="btn-close" aria-label="Close"></button>
                        </a>
                    </div>

                    <div class="row mt-3">
                        <div class="col-9">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-secondary">Change today: </span>{{ (stock.data?.percentChange || 0) > 0 ? '+' : '' }}{{stock.data?.percentChange | number: '1.2-3'}}%</li>
                                <li class="list-group-item"><span class="text-secondary">Opening Price: </span>{{stock.data?.openingPrice | currency}}</li>
                                <li class="list-group-item"><span class="text-secondary">Current Price: </span>{{stock.data?.currentPrice | currency}}</li>
                                <li class="list-group-item"><span class="text-secondary">High Price: </span>{{stock.data?.highPrice | currency}}</li>
                            </ul>
                        </div>
                        <div *ngIf="(stock.data?.percentChange || 0) > 0" class="col-3 align-self-center">
                            <img src="assets/upTrend.svg" alt="Positive trend" class="img-fluid">
                        </div>
                        <div *ngIf="(stock.data?.percentChange || 0) < 0" class="col-3 align-self-center">
                            <img src="assets/downTrend.svg" alt="Negative trend" class="img-fluid">
                        </div>
                        <div class="col-1"></div>
                        <button [routerLink]="['/sentiment', stock.symbol]" [id]="'sentiment' + stock.symbol"
                        class="btn btn-outline-primary mt-3"><b>Go to social sentiment details  &gt;</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

