<section class="stock-detail">
  <button mat-button (click)="goBack()" class="stock-detail__back">
    <mat-icon>arrow_back</mat-icon>
    Back to Dashboard
  </button>

  @if (loading()) {
    <div class="stock-detail__loading">
      <mat-spinner diameter="48" />
      <p>Loading {{ symbol() }} data...</p>
    </div>
  } @else if (profile() && quote()) {
    <mat-tab-group animationDuration="200ms" class="stock-detail__tabs">
      <mat-tab label="Overview">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-company-profile [profile]="profile()!" />
            <app-key-metrics [quote]="quote()!" />
          </div>
        </ng-template>
      </mat-tab>
  
      <mat-tab label="Chart">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-price-chart [symbol]="symbol()" />
          </div>
        </ng-template>
      </mat-tab>
  
      <mat-tab label="Sentiment">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-insider-sentiment [sentiment]="sentiment()" />
          </div>
        </ng-template>
      </mat-tab>
  
      <mat-tab label="News">
        <ng-template matTabContent>
          <div class="tab-content">
            <app-news-feed [news]="news()" />
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  } @else {
    <div class="stock-detail__error">
      <mat-icon>error_outline</mat-icon>
      <h3>Unable to load data for {{ symbol() }}</h3>
      <p>The stock symbol may be invalid or the service is unavailable.</p>
      <button mat-flat-button color="primary" (click)="goBack()">
        Return to Dashboard
      </button>
    </div>
  }
</section>
