<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row px-5 mx-5 mt-3">
    <div class="col-12">
      <footer class="my-3 container">
        <hr class="border border-secondary border-1">
        <p class="pt-2 text-secondary mb-0 lead text-center">
          Built with <span>Angular </span>X<span> Bootstrap</span>
        </p>
        <p class="text-secondary lead text-center">
          Copyright &copy; 2022-{{year}} <span>Sujit Aluru</span>
        </p>
      </footer>
    </div>
  </div>
</div>
