<ng-container *ngIf="sentiment$ | async as sentiment; else placeholder">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-md-9">
                <div class="card shadow-lg p-4 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h1 class="text-center">{{sentiment.name}} ({{sentiment.symbol}})</h1>
                        <div class="row mt-5">
                            <div *ngFor="let data of sentiment.data" class="col-4">
                                <div class="row">
                                    <h4 class="text-secondary">{{data.month | month}} {{data.year}}</h4>
                                    <div class="col-8">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Change: {{(data.change || 0) > 0 ? '+' : ''}}{{data.change}}</li>
                                            <li class="list-group-item">MSPR: {{data.mspr}}</li>
                                        </ul>
                                    </div>
                                    <div *ngIf="(data.change || 0) > 0" class="col-4 align-self-center">
                                        <img src="../../../assets/upTrend.svg" alt="trend up" class="img-responsive">
                                    </div>
                                    <div *ngIf="(data.change || 0) < 0" class="col-4 align-self-center">
                                        <img src="../../../assets/downTrend.svg" alt="trend down" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="backBtn" [routerLink]="['/']" class="btn btn-primary">Back to Stocks list</button>
            </div>
        </div>
    </div>    
</ng-container>
<ng-template #placeholder>Just a sec...</ng-template>